body {
    background: lightpink;
}
#Like{
    font-size: 1rem;
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}
#School{
    font-size:1rem;
    color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}
#Picture{
    width: 30ch;
    padding: 1em;
    float: right;
}
#Anything{
    float: left;
}